@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

h1 {
    color: lightblue;
    font-size: 15vw;
    font-family: 'Itim', cursive;
}

p {
    color: rgb(86, 74, 74);
    font-size: 2vw;
    font-family: "Nico Moji";
}

h6 {
    color: darkslategrey;
    font-size: 2vw;
    font-family: 'Yusei Magic', sans-serif;
}

h2 {
    color: rgb(29, 173, 125);
    font-size: 3.5vw;
    font-family: 'Yusei Magic', sans-serif;
}

button {
    font-family: "Nico Moji";
    font-size: 2vw;
}

form {
    font-size: 3vw;
}

form {
    font-family: 'Yusei Magic', sans-serif;
    width: auto;
}

ul {
    font-family: 'Yusei Magic', sans-serif;
}